        {% load static %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
		<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
		<!-- Main -->
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/smart-sticky.js' %}"></script>
		<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
