            {% load static %}
            <div class="container-fluid">
				<div class="container">
					<div class="top_bar margin-15">
						<div class="row">
							<div class="col-md-6 col-sm-12 time">

								<i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;&nbsp;{{ value|date }}</span>
							</div>
							<div class="col-md-6 col-sm-12 social">
								<ul>
									<li><a href="home-grid.html"><i class="fa fa-facebook"></i></a></li>
									<li><a href="home-grid.html"><i class="fa fa-twitter"></i></a></li>
									<li><a href="home-grid.html"><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<div class="top-search">
									<i class="fa fa-search"></i><span>SEARCH</span>
								</div>
								<div class="top-search-form">
									<form action="{% url 'search' %}" class="search-form" method="get" role="search">
										<label>
											<span class="screen-reader-text">Search for:</span>
											<input type="text" name="q" value="" placeholder="Search …" class="search-field">
										</label>
										<input type="submit" value="Search" class="search-submit">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 header">
							<h1 class="logo"><a href="/">UKRAINIAN TRUTH</a></h1>
							<p class="tagline">NEWSPAPER / MAGAZINE / PUBLISHER</p>
						</div>
					</div>
				</div>
			</div>

			<div class="main-nav section_margin">
				<div class="container-fluid">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-12 main_nav_cover" id="nav">
								<ul id="main-menu">
									<li class="menu-item-has-children"><a href="home-grid.html#">Home</a>
										<ul class="sub-menu">
											<li><a href="/">Default</a></li>
											<li><a href="home-grid.html">Grid</a></li>
											<li><a href="home-slide.html">Big slide</a></li>
											<li><a href="home-carausel.html">Carausel</a></li>
											<li><a href="home-boxed.html">Boxed layout</a></li>
											<li><a href="home-rtl.html">RTL layout</a></li>
										</ul>
									</li>
									<li class="menu-item-has-children"><a href="home-grid.html#">Layout</a>
										<ul class="sub-menu">
											<li class="menu-item-has-children"><a href="home-grid.html#">Category</a>
												<ul class="sub-menu">
													<li><a href="category-list.html">List</a></li>
													<li><a href="category-grid.html">Grid</a></li>
													<li><a href="category-masonry.html">Masonry</a></li>
													<li><a href="category-big.html">Big </a></li>
												</ul>
											</li>
											<li class="menu-item-has-children"><a href="home-grid.html#">Posts</a>
												<ul class="sub-menu">
													<li><a href="single.html">Default</a></li>
													<li><a href="post-video.html">Video</a></li>
													<li><a href="post-audio.html">Audio</a></li>
													<li><a href="post-gallery.html">Gallery</a></li>
													<li><a href="post-image.html">Image</a></li>
												</ul>
											</li>
											<li class="menu-item-has-children"><a href="home-grid.html#">Pages</a>
												<ul class="sub-menu">
													<li><a href="page-author.html">Author</a></li>
													<li><a href="page-search.html">Search</a></li>
													<li><a href="page-404.html">404</a></li>
													<li><a href="page-contact.html">Contact</a></li>
													<li><a href="page-typography.html">Typography</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="/">All News</a></li>
									<li><a href="{% url 'article' %}">Articles</a></li>
                                    <li> <a href="{% url 'columns' %}">Columns</a></li>
									<li><a href="category-list.html">Jobs</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>