{% extends 'base.html' %}
{% load static %}
{% block main %}
<body>
	<div class="spinner-cover">
		<div class="spinner-inner">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="page-content-wrapper">
            {% include 'header.html' %}
			<div class="container-fluid">
				<div class="container animate-box">
					<div class="row">
						<div class="archive-header">
							<div class="post-author-info">
								<div class="archive-title"><h2>{{ object.name }}</h2></div>
								<ul>
									<li><a href="page-author.html"><i class="fa fa-facebook"></i></a></li>
									<li><a href="page-author.html"><i class="fa fa-twitter"></i></a></li>
									<li><a href="page-author.html"><i class="fa fa-google-plus"></i></a></li>						
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="container">
					<div class="primary margin-15">
					<div class="row">
						<div class="col-md-8">
							<div class="post_list post_list_style_1">
                                {% if columns_list %}
                                {% for column in columns_list %}
                                <article class="row section_margin animate-box">
									<div class="col-md-4 animate-box">							
										<figure class="alith_news_img"><img src="{{ column.image.url }}" alt=""/></figure>
									</div>
									<div class="col-md-8 animate-box">
										<h3 class="alith_post_title"><a href="{% url 's_column' column.slug %}">{{ column.title }}</a></h3>
										<div class="post_meta">
											<span class="meta_categories"><a href="http://demos.alithemes.com/html/hewo/archive.html">Politics</a>, <a href="http://demos.alithemes.com/html/hewo/archive.html">News</a></span>
											<span class="meta_date">{{column.column_date}}</span>
										</div>
										<p class="alith_post_except">{{ column.column_text | safe | truncatewords_html:20 }}</p>
										<a href="{% url 's_column' column.slug %}" class="read_more">Read More</a>
									</div>
								</article>
                                {% endfor %}
                                {% else %}
                                {% for article in article_list %}
                                <article class="row section_margin animate-box">
									<div class="col-md-4 animate-box">
										<figure class="alith_news_img"><a href="{% url 's_article' article.slug %}"><img src="{{ object.image.url }}" alt=""/></a></figure>
									</div>
									<div class="col-md-8 animate-box">
										<h3 class="alith_post_title"><a href="{% url 's_article' article.slug %}">{{ article.title }}</a></h3>
										<div class="post_meta">
											<span class="meta_categories"><a href="http://demos.alithemes.com/html/hewo/archive.html">Politics</a>, <a href="http://demos.alithemes.com/html/hewo/archive.html">News</a></span>
											<span class="meta_date">{{ article.article_date }}</span>
										</div>
										<p class="alith_post_except">{{ article.article_text | safe | truncatewords_html:20 }}</p>
										<a href="{% url 's_article' article.slug %}" class="read_more">Read More</a>
									</div>
								</article>
                                {% endfor %}
                                {% endif %}
                              {% include 'paginator.html' %}
                            </div>
                        </div>
					</div> <!--.primary-->
					
				</div>
			</div>
			{% include 'footer.html' %}
            </div>
			<div class="gototop js-top">
				<a href="page-author.html#" class="js-gotop"><span>Take Me Top</span></a>
			</div>
		</div> <!--page-content-wrapper-->
        {% include 'footer_scripts.html' %}
	</div> <!--#wrapper-->
</body>
{% endblock %}