{% extends 'base.html' %}
{% load static %}
{% block main %}
<body>
	<div class="spinner-cover">
		<div class="spinner-inner">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="page-content-wrapper">
            {% include 'header.html' %}
			<div class="container-fluid">
				<div class="container animate-box">
					<div class="row">
						{% if query %}
                        <div class="archive-header">
							<div class="archive-title"><h2>Search Results for: <em>{{ query }}</em></h2></div>
							<div class="bread">We found {{ news_list.count }} articles for you</div>
						</div>
                        {% endif %}
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="container">
					<div class="primary margin-15">
					<div class="row">
						<div class="col-md-8">
							<div class="post_list post_list_style_1">
								{% if query %}
                                {% for search in news_list %}
                                <article class="row section_margin animate-box">
									<div class="col-md-4 animate-box">							
										<figure class="alith_news_img"><a href="{% url 'single' search.slug %}"><img src="{{ search.image.url }}" alt=""/></a></figure>
									</div>
									<div class="col-md-8 animate-box">
										<h3 class="alith_post_title"><a href="{% url 'single' search.slug  %}">{{ search.title }}</a></h3>
										<div class="post_meta">
											<span class="meta_categories"><a href="http://demos.alithemes.com/html/hewo/archive.html">Politics</a>, <a href="http://demos.alithemes.com/html/hewo/archive.html">News</a></span>
											<span class="meta_date">{{ search.news_date }}</span>
										</div>
										<p class="alith_post_except">{{ search.news_text | truncatewords_html:30 | safe }}</p>
										<a href="{% url 'single' search.slug  %}" class="read_more">Read More</a>
									</div>
								</article>
                                {% endfor %}
                                {% endif %}
							{% include 'paginator.html' %}
							</div>
						</div>
					</div>
					</div> <!--.primary-->
					
				</div>
			</div>
			{% include 'footer.html' %}
			<div class="gototop js-top">
				<a href="page-search.html#" class="js-gotop"><span>Take Me Top</span></a>
			</div>
		</div> <!--page-content-wrapper-->
		{% include 'footer_scripts.html' %}
	</div> <!--#wrapper-->
</body>
{% endblock %}