                            {% load static %}

                            <div class="site-pagination animate-box">
								<ul class="page-numbers">

                                    <li><a href="/" class="prev page-numbers">PREV</a></li>

                                    <li><span class="/" aria-current="page">1.</span></li>
									<li><a href="/" class="page-numbers">2.</a></li>
									<li><a href="/" class="page-numbers">3.</a></li>
									<li><a href="/" class="page-numbers">4.</a></li>

                                    <li><a href="/" class="next page-numbers">NEXT</a></li>

								</ul>
							</div>
